body {
	width: 100%;
	margin:0;
	padding:0;
	font-size: 10px;
	color: rgb(38, 48, 56);
	background: rgb(218, 218, 218);/*url(../img/shattered.png);*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.clear {
    clear: both;
}

.content-container {
    width: 100%;
    height: auto;
	margin-top:65px;
	
	position:relative;
}
.login-create{
	width:auto;
    height: auto;
	
	position:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.goto-current-track{
	width:3.5%;
	position:fixed;
	left:0;
	bottom:6%;
	z-index:9;
	cursor:pointer;
}
.goto-current-track img{
	border:solid black 1px;
}
.view-container {
	width:100%;
    height: auto;
	position:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.view-container  .col{
    width: 262px;
	float:left;
	height:auto;
}
@media (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) { 
	body {
		background: url(../img/shattered_@2X.png);
	}
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
	margin:0;
	padding:0;
}

.clear {
	clear: both;
}
.loading{
			/*background: rgba(0,0,0, 0.7);*/
			width:100%;
			height:100%;
			padding-top:200px;
			text-align:center;
			position:fixed;
			top:0;
			left:0;
			z-index:5;
			display:none;

}
.tou,.privacy-policy{
	z-index:7;
	position:fixed;
	top:10%;
	left:10%;
	width:80%;
	height:80%;
	display:none;
	background:white;
	overflow-y:hidden;
	text-align:center;
}

.tou iframe,.privacy-policy iframe{
	margin:5% 0 0 5%;
}
.upload-picture{
	z-index:7;
	position:fixed;
	top: 50%;
	left: 50%;
	margin-left: -160px; /* negative half of the width */
	margin-top: -225px; /* negative half of the height */
	width:260px;
	height:400px;
	background:white;
	display:none;
	padding:20px 30px 0 30px;

}
.upload-picture h1{
	margin:0;
	padding:0;
	width:100%;
	font-size:25px;
	color:#212B33;
	font-weight:700;
	text-align:center;
}
.upload-picture h2{
	margin:0;
	padding:0;
	width:100%;
	font-size:12px;
	font-weight:normal;
	color:#212B33;
	padding:5px 0 20px 0;
	text-align:center;
}
.upload-picture .picture{
	cursor:pointer;
	border:1px solid #212B33;
	position:relative;
	width:250px;
	height:250px;
	background: no-repeat url("../img/default-picture.jpg");
	background-size:100% 100%;
}
.upload-picture .picture .photo{
	position:absolute;
	top:0;
	left:0;
	
}
.upload-picture .picture .upload-progress{
	
	display:none;
	position:absolute;
	top:0;
	width:250px;
	height:200px;
	text-align:center;
	padding-top:50px;
	font-size:20px;
	color:red;
	
}
.upload-picture .picture .upload-progress label{
	margin-top:50px;
	display:block;
	width:100%;
	text-align:center;
}
.upload-picture .foot{
	position:absolute;
	bottom:0;
	color:#FFF;
        background-color:#263039;
	border-top:#E6E6E6 1px solid;
	width:100%;
	height:30px;
	text-align:center;
	margin-left:-30px;
	padding:10px 0 5px 0;
	font-size:18px;
        cursor:pointer;
}
.upload-picture .foot:hover{
        background-color:#BC3927;
}
/*
<h1>Upload a Profile Pic</h1>
			<h2>Drag a image into the box or click to add</h2>
			<div class="picture">
			
			</div>
			<div class="foot">
				Upload a Photo
			</div>
*/



/* Nav Bar Styles */
.nav-container {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 8;
	display:none;
}

.nav-bar {
	
	margin: 0 auto;
	padding-bottom: 3%;
	padding-right:1%;
	padding-left:1%;
	width: 98%;
	background: rgb(255, 255, 255);
   	font-weight: 300;
   	box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-webkit-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;		
	-moz-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px; 
	font-size: 2em;
}

.nav-bar .logo {
	display: inline-block;
	background: url("../img/svg/spin-logo.svg") no-repeat;
	background-size: 80%;
	background-position: center;
	border-right: 1px solid rgb(218, 218, 218);
	float: left;
	padding-bottom:  3%;
	width: 15%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.nav-bar .following-btn {
	display: inline-block;
	position: relative;
	border-left: 1px solid rgb(218, 218, 218);
	border-right: 1px solid rgb(218, 218, 218);
	float: left;
	padding-bottom: 3%;
	width: 10%;
	box-sizing: border-box;
   	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	
}

.nav-bar .following-btn .following-btn-txt {
	position: absolute;
    top:50%;
	left:50%;
}
.nav-bar .following-btn:hover .dropdown-ctrls {
    display: block;
}
.nav-bar .following-btn:hover {
	background:#DDD;
}
.nav-bar .following-btn .dropdown-ctrls {
    left: 0;
    
}
.nav-bar .blogs-btn {
	display: inline-block;
	position: relative;
	border-left: 1px solid rgb(218, 218, 218);
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	width: 7.5%;
 	padding-bottom: 3%;
	box-sizing: border-box;
   	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;	
}

.nav-bar .blogs-btn .blogs-btn-txt {
	position: absolute;
    top:50%;
	left:50%;
}

.nav-bar .blogs-btn:hover .dropdown-ctrls {
    display: inline-block;
}
.nav-bar .blogs-btn:hover {
	background:#DDD;
}
.nav-bar .blogs-btn .dropdown-ctrls {
    width:1050%;
    height:auto;
    
    min-height:300px;
    left: 0;
    
}

.nav-bar .blogs-btn .dropdown-ctrls ul{
    float:left;
}

.nav-bar .blogs-btn .dropdown-ctrls .title{
    text-decoration:underline;
    cursor:auto;
    
}
.nav-bar .blogs-btn .dropdown-ctrls .title:hover{
    color:#5C5C5C;
    
}

.nav-bar .followers-btn {
	display: inline-block;
	position: relative;
	border-right: 2px solid rgb(218, 218, 218);
	float: left;
	padding-bottom: 3%;
	width: 8.166666666666%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.nav-bar .followers-btn:hover {
	background:#DDD;
}
.nav-bar .followers-btn:hover .dropdown-ctrls {
    display: block;
}
.nav-bar .followers-btn .dropdown-ctrls {
    left: 0;
    
}
.nav-bar .followers-btn .followers-btn-txt {
	position: absolute;
    top:50%;
	left:50%;
}

.nav-bar .following-btn:hover, .nav-bar .blogs-btn:hover, .nav-bar .genres-btn:hover, .nav-bar .followers-btn:hover {
	color: rgb(188, 58, 39);
	cursor: pointer;
}

.nav-bar .search{
	position: relative;
	float: right;
	width:27.38666%;
	padding-bottom: 3%;
	
}
.nav-bar .search .dropdown-ctrls{
	left: -0.5%;
    width: 85%;
	height:auto;
}
.nav-bar .search:hover .dropdown-ctrls{
	display:block;
	
}
.nav-bar .search-input {
	display: inline-block;
	position: relative;
	float: right;
	padding-bottom: 11%;
	width: 85%;
	
}

.nav-bar .search-input input[type=text] {
	position: absolute;
	float: right;
	right: 0;
	width: 98%;
	height: 100%;
	background: rgb(218, 218, 218);
	border: none;
	margin: none;
	padding: 0 0 0 2%;
	transition: width 1.5s;
	-moz-transition: width 1.5s;
	-webkit-transition: width 1.5s;
	color:#263038;
	font-size:1em;
}



.nav-bar .search-input input[type=text]:focus {
	outline: none;
	
}

.nav-bar .search-btn {
	background: url("../img/svg/search.svg") no-repeat;
	background-size: 64%;
	background-position: center;
	border-left: 2px solid rgb(218, 218, 218);
	border-right: 2px solid rgb(218, 218, 218);
	float: right;
	padding-bottom: 11%;
	width: 15%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor:pointer;
}

.nav-bar .search-btn:hover {
	background: url("../img/svg/search-orange.svg") no-repeat;
	background-size: 64%;
	background-position: center;
}

.nav-bar .search li{
	cursor:pointer;
}

.nav-bar .nav-bar-ctrls {
	position: relative;
	float: right;
	border-right: 2px solid rgb(218, 218, 218);
	padding-bottom: 3%;
	width: 13%;
	box-sizing: border-box;
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.nav-bar .nav-bar-ctrls .rwd-btn {
	position: absolute;
	background: url("../img/svg/nav-bar-rwd.svg") no-repeat;
	background-size: 69.23076923%;
	background-position: center;
	float: left;
	width: 33.33333333333%;
	height: 100%;
}

.nav-bar .nav-bar-ctrls .rwd-btn:hover {
	background: url("../img/svg/nav-bar-rwd-orange.svg") no-repeat;
	background-size: 69.23076923%;
	background-position: center;
	cursor: pointer;
}

.nav-bar .nav-bar-ctrls .play-btn {
	position: absolute;
	left: 33.33333333%;
	background: url("../img/svg/nav-bar-play.svg") no-repeat;
	background-size: 46.15384615%;
	background-position: center;
	float: left;
	width: 33.333333333333%;
	height: 100%;
}

.nav-bar .nav-bar-ctrls .play-btn:hover {
	background: url("../img/svg/nav-bar-play-orange.svg") no-repeat;
	background-size: 46.15384615%;
	background-position: center;
	cursor: pointer;
}
.nav-bar .nav-bar-ctrls .pause-btn {
	position: absolute;
	left: 33.33333333%;
	background: url("../img/svg/nav-bar-pause.svg") no-repeat;
	background-size: 46.15384615%;
	background-position: center;
	float: left;
	width: 33.333333333333%;
	height: 100%;
}

.nav-bar .nav-bar-ctrls .pause-btn:hover {
	background: url("../img/svg/nav-bar-pause-orange.svg") no-repeat;
	background-size: 46.15384615%;
	background-position: center;
	cursor: pointer;
}
.nav-bar .nav-bar-ctrls .ffwd-btn {
	position: absolute;
	left: 66.6666666666%;
	background: url("../img/svg/nav-bar-fwd.svg") no-repeat;
	background-size: 69.23076923%;
	background-position: center;
	float: left;
	width: 33.333333333333%;
	height: 100%;
}

.nav-bar .nav-bar-ctrls .ffwd-btn:hover {
	background: url("../img/svg/nav-bar-fwd-orange.svg") no-repeat;
	background-size: 69.23076923%;
	background-position: center;
}

.nav-bar .dropdown-ctrls {
	width:300%;
	height:300px;
	overflow-y: scroll;
	overflow-x: visible;
    display: none;
    position: absolute;
    top: 50px;
    left: -204.1%;
    background: #fff;
    border: 2px solid rgb(218, 218, 218);
    border-bottom: none;
    box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-webkit-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;		
	-moz-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px; 
	z-index:4;
}

.nav-bar .dropdown-ctrls ul {
	float:left;
	font-size:0.9em;
	font-weight:500;
	margin:0;
	margin-left:15px;
	padding:0;
}
.nav-bar .dropdown-ctrls ul li{
	color:#5C5C5C;
	padding:2px;
}
.nav-bar .dropdown-ctrls ul li:hover{
	color:rgb(188, 58, 39);
}

.nav-bar .nav-bar-ctrls .dropdown-ctrls {
	height: 40px;
    width:311%;
	left:-212%;
	overflow:visible;
}

.nav-bar .nav-bar-ctrls:hover .dropdown-ctrls {
    display: block;
}
.nav-bar .nav-bar-ctrls:hover{
	background:#DDD;
}
.nav-bar .dropdown-ctrls .song-title {
    float: left;
    width: 33.3333333333333333333333%;
    height: inherit;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px solid rgb(218, 218, 218);
}

.nav-bar .dropdown-ctrls .progress-section {
    float: left;
    width: 66.666666666666666%;
    height: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px solid rgb(218, 218, 218);
	cursor:pointer;
}

.progress-section .song-progress-wrapper {
    float: left;
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: inherit;
}

.song-progress-wrapper .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin-top: 18px;
}

.song-progress-wrapper .song-progress {
    position: absolute;
    width: 10px;
    height: 30px;
    margin-top: 5px;
    background: rgb(188, 58, 39);
}

.nav-bar .dropdown-ctrls .like-btn:hover {
    background: url(../img/svg/like-orange.svg) no-repeat center;
	background-size: 60%;
}

.nav-bar .calendar-btn {
	position: relative;
	background: url("../img/svg/calendar.svg") no-repeat;
	background-size: auto 68%;
	background-position: center;
	float: right;
	border-right: 2px solid rgb(218, 218, 218);
	padding-bottom: 3%;
	width: 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor:pointer;
}

.nav-bar .calendar-btn:hover {
	background: url("../img/svg/calendar-orange.svg") no-repeat;
	background-size: auto 68%;
	background-position: center;
}

.nav-bar .profile-btn {
	position:relative;
	background-repeat: no-repeat;
	background-size: 44.15584415%;
	background-position: center;
	float: right;
	padding-bottom: 3%;
	width: 6.3776%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}
.nav-bar .profile-btn-link {
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	cursor:pointer;
}
.nav-bar .profile-btn:hover {
	background: #DDD  no-repeat;/*url("../img/svg/profile-default-orange.svg")*/
	background-size: 44.15574415%;
	background-position: center;
}

.nav-bar .profile-btn:hover .dropdown-ctrls {
    display: block;
}

.nav-bar .profile-btn .dropdown-ctrls {
    left: -88%;
	width:180%;
	height:auto;
	padding:1%;
	overflow:visible;
}
.nav-bar .profile-btn .dropdown-ctrls ul{
	margin:0;
	padding:0;
	padding-right:5%;
	width:95%;
	float:right;
}
.nav-bar .profile-btn .dropdown-ctrls li{
	width:100%;
	margin:0;
	padding:0;
	text-align:right;
}
.nav-bar .profile-btn .dropdown-ctrls li a{
	text-decoration:none;
	cursor:pointer;
	color:#263038;
}
.nav-bar .profile-btn .dropdown-ctrls li a:hover{
	text-decoration:underline;
}
.nav-bar .profile-btn .dropdown-ctrls .msg{
	float: left;
    font-size: 0.8em;
    margin: 0 5% 1%;
    padding: 0;
    width: 100%;
}
.nav-bar .profile-btn .dropdown-ctrls input[type="text"]{
	width:63%;
	float:left;
	height:20px;
	margin:13px 5% 20px 5%;
	padding-left:5px;
	border:1px solid grey;
}
.nav-bar .profile-btn .dropdown-ctrls input[type="submit"]{
	float:left;
	margin-top:10px;
	height:30px;
}
.notification-circle {
	position: absolute;

	width: 20%;
	height: 20%;
	
	background: #fff;
	margin: 3px 0 0 55%;
	border-radius: 10px;
	border: 2px solid rgb(188, 58, 39);
	font-size: 0.5em;
	color: rgb(188, 58, 39);
}

.notification-circle p {
	margin: 6px 0 0 0;
	height: inherit;
	line-height: 0;
}

.nav-bar .calendar-btn:hover .notification-circle {
	border: 2px solid rgb(38, 48, 56);
	color: rgb(38, 48, 56);
}

.nav-bar .profile-btn:hover .notification-circle {
	border: 2px solid rgb(38, 48, 56);
	color: rgb(38, 48, 56);
}

/* Song Card Styles */

.song-card {
	float: left;
	width: 250px;
	height: auto;
	margin: 0 7px 9px 0;
	background: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: rgb(166, 166, 166) 2px 2px 2px 0px;
	position:absolute;
}

.song-card .card:hover .show-respin-btn {
	display:block;
}

.song-card  .respin{
	display:none;
	background-color:white;
    height:360px;
    width:250px;
	z-index:4;
	position:absolute;
	top:0;
	left:0;
	/*
	margin-top:-330px;
	float:left;*/
}

.song-card .respin .row , .intro-card .row{
    margin:0;
	padding:10px 0 0 45px;
	border-bottom:1px solid #D8D8D8;
    background-repeat:no-repeat;
	background-position:6px 6px;
	background-size:33px 33px;
    height:34px;
    width:205px;
    font-weight:lighter;
	font-size:18px;
    cursor:pointer;
	color:#263039;
}


.song-card .respin .title:hover{
	background-color:#BC3927;
	/*
	color:#FFF;
	background-color:#263039;
	background-image:url('../img/logo-public.png');*/
}
.song-card  .respin ul{
    margin:0;
    padding:0;
}
.song-card  .respin ul li:hover,.song-card .respin .respin-btn:hover{
    background-color:#BC3927;
	color:white;
}
.song-card  .respin .selected{
	color:white;
    background-color:#BC3927;
}
.song-card .respin form{
	width:250px;
	height:44px;
	margin:0;
	padding:0;
	position:relative;
}
.song-card .respin .invite{
	height:55px;
}
.song-card .respin .invite .row{
	border-top:1px solid #D8D8D8;
}
.song-card .respin form input{
	font-weight:normal;
}
.song-card .respin form img{
	position:absolute;
	top: 13px;
	left:13px;
	cursor:pointer;
}


.song-card .respin form .email{
	padding-left: 5px;
    padding-top: 0;
    width: 245px;
	font-size:16px;
	height:44px;
	background-color:white;
	color:#263039;
	cursor:auto;
}
.song-card .respin .invite p{
	width:245px;
	padding-left:5px;
	cursor:auto;
	height:55px;
}
.song-card .respin form .keywords{
	padding-top:0;
	height:44px;
	background-color:#263039;
	color:#FFF;
	cursor:auto;
	
}
.song-card .respin .respin-btn , .intro-card .gotit-btn{
        font-size:22px;
	padding-left:0;
	width:250px;
	
        text-align:center;
	
	
}
.intro-card .gotit-btn{
	background-color:#263039;
	color:white;
}
.intro-card .gotit-btn:hover{
	color:white;
    background-color:#BC3927;
}

.song-card .respin .bottom , .intro-card .bottom{
	position:absolute;
	bottom:0;
	left:0;
}


.song-card .song-title {
	float: left;
	/*font-size: 1.25em;*/
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0 0 2.5%;
	width: 70%;
	overflow: hidden;
}



.song-card .song-artist {
    float: left;
    width: 70%;
	/*font-size: 1.2em;*/
	font-size:12px;
	padding: 5px 0 0 2.5%;
}


.song-card .card-prof-pic {
	cursor:pointer;
    margin: 5px 2.5% 0 0;
    float: right;
    height: 40px;
    width: 16%;
    background: url("../img/svg/profile-default.svg") no-repeat center;
    background-size: auto 100%;
	border-radius:20px;
	-webkit-border-radius: 20px; -moz-border-radius: 20px;
}

.song-card .delete-btn {
    
    position:absolute;
    left:95%;
	top:-2%;
	width:21px;
	height:21px;
    background: url("../img/delete-icon2.png") no-repeat center;
    background-size: auto 100%;
	cursor:pointer;
	display:none;
	
}

/*
.song-card .buttons {
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-left: 2.5%;
}
*/



.song-card  .show-respin-btn {
	position:absolute;
	bottom:-1px;
	left:0;
	z-index:7;
	height: 63px;
	width: 100%;
	display:none;
	
	padding-top:10px;
	border-bottom:1px solid #D8D8D8;
	height:34px;
	font-size:22px;
	cursor:pointer;
	color:#263039;
	text-align:center;
	background:white;
	
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.song-card  .show-respin-btn:hover {
	background-color:#BC3927;
	color:white;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}	
.song-artwork {
	width: 100%;
	height: auto;
	margin-top: 25px;
	margin-bottom:-4px;
	text-align: center;
	position:relative;
	
	
	
}
.song-artwork .me-plugin{
	margin-left:3px;
}
.song-artwork .card-play-pause {
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	width:50px;
	height: 50px;
	z-index :3;
	margin: -25px 0 0 -25px;
}
.song-artwork .card-logo {
	position: absolute;
	top:8%;
	left:90%;
	z-index :3;
	width:41px;
	height:28px;
	margin: -8px 0 0 -20px;
}
.song-artwork:hover .card-play-pause {
	display: block;
	cursor:pointer;
}
.song-artwork:hover img{
	filter: brightness(50%);
}

.song-artwork img , .song-artwork .video-container{
	border-bottom-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
}
.song-artwork .video-container{
	overflow:hidden;
	width:250px;
	height:208px;
	/*background-image:url(../img/loading.gif);*/
	background-repeat: no-repeat;
	background-position: center;
	
}

.song-artwork .video-container > *{
	margin-left:0px;
}

.song-card-respined{
	color:#FFF;
	background:#263039;
}
.song-card-selected{
	/*
	color:#FFF;
	background:#263039;
	*/
	-moz-box-shadow: 0 0 20px #BD3B28;
	-webkit-box-shadow: 0 0 20px #BD3B28;
	box-shadow: 0 0 20px #BD3B28;
}
.song-card-selected  .card-prof-pic{
	background: url("../img/svg/profile-default-selected.svg") no-repeat center;
	margin: 5px 2.5% 0 0;
    float: right;
    height: 40px;
    width: 16%;
    background-size: auto 100%
}


.intro-card{
	height:340px;
	text-align:center;
	
}
.intro-card .card{
	padding-top:30px;
}
.intro-card .card video{
	margin-left:10px;
}
/* Profile Nav Styles */

.profile-nav-container {
	display:none;
	width: 100%;
	background: #fff;
	border-top: 2px solid rgb(218, 218, 218);
	box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px; 
	-moz-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;
	-webkit-box-shadow: rgb(166, 166, 166) 0px 4px 3px 0px;	
}

.profile-nav {
	width: 85%;
	height: 75px;
	background: #fff;
	text-align: center;
	margin: 0 auto;
	position:relative;
}

.profile-nav .user-info {
	float: left;
	width: 45%;
	height: inherit;
	background-repeat: no-repeat;
	background-position: 5px 50%;
	background-size:60px 60px;
	text-align: left;
}

.profile-nav .user-info .profile-picture {
	width:12%;
	height:80%;
	
	margin-top:2%;
	float:left;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:100% auto;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
	
}
.profile-nav .user-info .name {
	font-size:2.5em;
	margin: 1% 0 0 2%;
	font-weight: bold;
	float:left;
	width:85%;
}

.profile-nav .user-info .location-link {
	font-size: 1.4em;
	text-decoration:none;
	color: #263038;
	float:left;
	margin: 1% 0 0 2%;
	width: 85%;
}

.profile-nav .user-info .location-link .location {
	font-size: 1.4em;
	margin:0;
	padding:0;
}


.profile-nav .stream-control {
	position:absolute;
	right:1%;
	height: inherit;
	width:4%;
}

.profile-nav .stream-control .posted {
	float: left;
	height: inherit;
	width: 76px;
}

.profile-nav .stream-control .likes {
	float: left;
	height: inherit;
	width: 70px;
}

.profile-nav .stream-control .playlists {
	float: left;
	height: inherit;
	width: 85px;
}


.profile-nav p.type {
	font-size: 2em;
	margin: 10px 0 0 0;
}

.profile-nav p.amount {
	margin: 0 0 0 0;
	font-size: 2.5em;
	font-weight: bold;
}

.profile-nav .posted:hover, .profile-nav .likes:hover, .profile-nav .playlists:hover{
	color: rgb(188, 58, 39);
	cursor: pointer;

}

.profile-nav .follow {
	position:relative;
	float: right;
	width: 300%;
	height: inherit;
}

.profile-nav .follow .follow-btn {
	float: left;
	margin: 13% 0 0 13%;
	width: 70%;
	height: 30%;
	background: rgb(188, 58, 39);
	color: #fff;
	padding-top: 3px;
	font-size: 1.5em;
	cursor:pointer;
}
.profile-nav .follow .unfollow-btn {
	display:none;
	float: left;
	margin: 13% 0 0 13%;
	width: 70%;
	height: 30%;
	background: rgb(114,110,109);
	color: #fff;
	padding-top: 3px;
	font-size: 1.5em;
	cursor:pointer;
}
.profile-nav .follow .edit-btn {
	float: left;
	margin: 13% 0 0 13%;
	width: 70%;
	height: 30%;
	background: rgb(188, 58, 39);
	color: #fff;
	padding-top: 3px;
	font-size: 1.5em;
	cursor:pointer;
	display:none;
}
.profile-nav .follow .done-btn {
	float: left;
	margin: 13% 0 0 13%;
	width: 70%;
	height: 30%;
	background: rgb(188, 58, 39);
	color: #fff;
	padding-top: 3px;
	font-size: 1.5em;
	cursor:pointer;
	display:none;
}


/* Playlisting Modal Styles */
.dialog {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
}

.dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(218, 218, 218, .9);
    z-index: 4;
}

.playlisting-dialog-container {
    position: relative;
    top: 150px;
    width: 650px;
    z-index: 51;
    margin: 0 auto;  
}


.playlisting-dialog {
    width: 650px;
    height: 300px;
    background: #fff;
}

.playlisting-dialog .playlisting-header {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding: 10px 7px;
    border-bottom: 2px solid rgb(218, 218, 218);
}

.playlisting-artwork {
    float: right;
    width: 200px;
    height: auto;
    padding: 7px 7px 0 0; 
}

.playlist-chooser {
    font-size: 1.3em;
    width: 436px;
    margin: 0 0 0 7px;
    height: 40px;
    line-height: 40px;
}

.add-to-playlist-btn {
    background: rgb(188, 58, 39);
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.login-page-container {
    width: 100%;
    height: 100%;
    background: url(../img/loginbg.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.login-form-content {
    width: 50%;
    position: relative;
    left: 50%;
}

.login-form-content input[type=text] {
    background: rgba(255, 255, 255, 0.9);
}





.search-friends{
        width:100%;margin-top:70px;display:none;text-align:center;
}

.search-friends input{
    display: inline-block;
	
	color: #263038;
    font-size: 18px;
    height: 40px;
    width: 300px;
	
	
}

.search-friends .search-btn{
        margin-bottom:-8px;margin-left:3px;display: inline-block;background: url("../img/svg/search.svg") no-repeat;background-size:25px 25px;cursor: pointer;width:25px;height:25px;
}

.search-friends .friends{
        padding:20px;text-align:center;
}

.search-friends .song-card{
        position:relative;float:none;display:inline-block;
}

.search-friends .song-card .card{
        text-align:center;
}
.search-friends .song-card .card h2{
        cursor:pointer;
}
.search-friends .song-card .card img{
        cursor:pointer;
        width:80%;
}
    